<nav
  class="navbar navbar-expand-lg bg-primary navbar-dark mb-3 p-2 rounded-bottom-2"
>
  <!--  [ngClass]="themeService.getCurrent() === 'light' ? 'navbar-light' : 'navbar-dark'"-->
  <div class="container-fluid d-flex">
    <a class="navbar-brand" [routerLink]="'.'">Task Manager</a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul
        class="navbar-nav ms-2"
        [ngClass]="{'text-center': !isMenuCollapsed}"
        style="width: 100%"
      >

        <!--Link to calendar view-->
        <li class="nav-item">
          <a class="nav-link text-center" routerLink="calendar" (click)="isMenuCollapsed = true">
            <i class="bi bi-calendar-check-fill mx-0 px-0"></i>
            Calendar
          </a>
        </li>

        <!--Link to task list view-->
        <li class="nav-item">
          <a class="nav-link" routerLink="task-list" (click)="isMenuCollapsed = true">
            <i class="bi bi-list-task"></i>
            Task List
          </a>
        </li>

        <!--User info dropdown-->
        <li class="nav-item"
            [class.ms-auto]="isMenuCollapsed"
        >
          <div ngbDropdown>
            <a type="button" class="nav-link btn btn-outline-primary btn-sm" ngbDropdownToggle>
              <i class="bi bi-person-fill"></i>
              {{ userEmail$ | async }}
            </a>
            <div ngbDropdownMenu>
              <a class="dropdown-item" ngbDropdownItem>
                <i class="bi bi-person-fill-exclamation text-info"></i>
                My profile
              </a>
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                ngbDropdownItem
                (click)="onLogout()"
              >
                <i class="bi bi-box-arrow-left text-danger"></i>
                Logout
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">

          <a
            class="nav-link"
            (click)="onSwitchTheme()"
            style="cursor: pointer"
          >
            <i *ngIf="themeService.getCurrent() === 'dark'" class="bi bi-brightness-high-fill"></i>
            <i *ngIf="themeService.getCurrent() === 'light'" class="bi bi-moon-stars-fill"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
