///* You can add global styles to this file, and also import other style files */
//
///* Importing Bootstrap default theme. */


.input-error-text {
  text-align: start;
  padding-left: 10px;
  color: #df382c;
  font-size: 13px;
}
